fastapi==0.68.1
firebase-admin==5.2.0
requests==2.26.0
beautifulsoup4==4.10.0
telethon==1.24.0
# asyncio==3.4.3 # until I find a solution for deta deployment
python-dotenv==0.19.2
# requests_html==0.10.0
nest_asyncio==1.5.4
requests_futures