<div class="job-card">
  <div class="header">
    <div
      class="company-logo"
      [ngStyle]="{
        border: job.company.logo ? 'none' : 'rgb(244, 67, 54) solid 2px'
      }"
    >
      <img
        *ngIf="job.company.logo; else CompanyFirstCharacter"
        [src]="job.company.logo"
        [alt]="job.company.name"
      />
      <ng-template #CompanyFirstCharacter>
        <span> {{ job.company.name | firstCharSmall }} </span>
      </ng-template>
    </div>
    <div class="job-title">
      <a [href]="job.company.url">
        <p class="company-name">{{ job.company.name }}</p></a
      >
      <h2>{{ job.title }}</h2>
      <p class="company-address">
        <span>{{ job.location.city }}</span
        >,
        <span>{{ job.location.country }}</span>
      </p>
    </div>
    <div class="job-controllers">
      <button (click)="controlJob('copy')">
        <span>
          <app-job-controller [controllerType]="'copy'"></app-job-controller>
        </span>
      </button>
      <button (click)="controlJob('hide')">
        <span>
          <app-job-controller [controllerType]="'hide'"></app-job-controller>
        </span>
      </button>
      <button (click)="controlJob('bookmarked')">
        <span>
          <app-job-controller
            [controllerType]="'bookmarked'"
          ></app-job-controller>
        </span>
      </button>
    </div>
  </div>
  <div class="body">
    <p>
      {{
        job.description.length > 430
          ? (job.description | slice: 0:430) + "..."
          : job.description
      }}
    </p>
    <a target="_blank" [href]="job.href" class="apply-btn">Apply</a>
  </div>
</div>
