main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 4rem 0rem;

  > * {
    width: 31%;
    // TODO fix that by using text trim with css
    min-height: 45rem;
  }
}
