<app-search-form (searchQueryAdded)="searchForJobs($event)"></app-search-form>

<main [style.alignItems]="showLoading ? 'center' : ''">
  <div>
  <div [style.display]="showLoading ? 'block' : 'none'" class="loader"></div>
  <p class="error-message" [style.display]="showLoading ? 'block' : 'none'">
    The backend is deployed using a free account, which makes the service sleep sometimes. Please wait for a while till the request is processed.
  </p>
  </div>

  <p class="error-message" *ngIf="!showLoading && showError">
    Error happened, please try again later.
  </p>

  <p
    class="error-message"
    *ngIf="!showLoading && !showError && jobList.length === 0 && didSearch"
  >
    No result found.
  </p>

  <div *ngIf="!showLoading && !showError && [jobList.length > 0]" id="jobs">
    <app-job *ngFor="let job of jobList" [job]="job"></app-job>
  </div>
</main>
